.main {
  max-width: min(1400px, 92%);
  margin: 0 auto;
  padding-bottom: 5rem;
}

.wrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 1.25rem;
}
